* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  --field-size: 10rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: var(--field-size);
  width: var(--field-size);
}

.field:nth-child(3n) {
  border-right: none;
}

.field:nth-last-child(-n + 3) {
  border-bottom: none;
}

