@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Code+Pro&display=swap');

:root {
  font-family: 'Source Code Pro', monospace;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#scoreboard {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  gap: 6rem;
}

.player {
  padding: 1rem;
  border-radius: 5rem;
  box-shadow: 2px 2px 5px grey;
}

.marked {
  background-color: limegreen;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#round-counter {
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: bolder;
}

.field {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  --field-size: 10rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: var(--field-size);
  width: var(--field-size);
}

.field:nth-child(3n) {
  border-right: none;
}

.field:nth-last-child(-n + 3) {
  border-bottom: none;
}

